/* 
Don't want to use sass and simply modify the stylesheet in the old css fashion? 
Just customize your theme here.
================================================== */

/* 
Custom Search container
========================================================================== */
#search-container {
  margin-bottom: 20px;
}

#search-input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.category-group {
  margin-bottom: 20px;
}

/* 
Custom TOC
========================================================================== */

/* TOC가 있는 경우: 본문을 왼쪽으로 밀어냄 */
.with-toc .col-sm-8 {
  margin-left: 0;
}

/* TOC가 없는 경우: 본문을 중앙에 배치 */
.no-toc .col-sm-8 {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px; /* 본문 최대 너비를 설정 */
}

.post__toc {
  font-family: 'Helvetica Neue', sans-serif; /* 사용할 폰트 */
  color: #666; /* 글자 색상 */
  background-color: #f9f9f9; /* 배경 색상 */
  border: 1px solid #ddd; /* 테두리 색상 */
  border-radius: 5px; /* 둥근 테두리 */
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;

  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 100px; /* 스크롤할 때 TOC가 고정될 위치 (상단에서 20px 아래) */
  max-height: calc(100vh - 40px); /* 화면 높이에 맞게 최대 높이 설정 */
  overflow-y: auto; /* 내용이 넘치면 스크롤 가능하게 */
}

@media (max-width: 768px) {
  .post__toc {
    display: none; /* 모바일 화면에서는 TOC 숨김 */
  }
}

.post__toc h2 {
  color: #fff; /* 제목 색상 */
  font-size: 1.5rem; /* 제목 폰트 크기 */
  background-color: #bccde7;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.post__toc .active a {
  color: #bccde7; /* 현재 활성화된 항목의 색상 */
  font-weight: bold; /* 활성화된 항목 강조 */
}

/* TOC 메뉴 스타일 */
.post__toc ol, 
.post__toc ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.post__toc a {
  display: block;
  padding: 0.5rem 1rem;
  color: #999; /* 링크 색상 */
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px solid #ddd; /* 항목들 간의 경계선 */
}

.post__toc a:hover {
  color: #333; /* 링크 호버 시 색상 */
}

/* 중첩된 항목들에 대한 들여쓰기 */
.post__toc li ol > li a {
  padding-left: 1.5rem;
  font-weight: normal;
}

.post__toc li ol li ol > li a {
  padding-left: 2rem;
}

.post__toc li ol li ol li ol > li a {
  padding-left: 2.5rem;
}

.post__toc li ol li ol li ol li ol > li a {
  padding-left: 3rem;
}

.post__toc li ol li ol li ol li ol li ol > li a {
  padding-left: 3.5rem;
}

/* 
Class page image
========================================================================== */
.section {
  width: 100%;
  height: 100vh; /* 뷰포트 전체 높이 */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* 이미지가 섹션을 넘지 않도록 숨기기 */
  margin-bottom: 0;
  position: relative;
}

.section img {
  width: auto;
  height: 100%; /* 섹션 높이에 맞추되 비율 유지 */
  object-fit: cover; /* 비율을 유지하면서 섹션을 꽉 채우도록 설정 */
  display: block;
}

@media (max-width: 768px) {
  .section {
    height: 50vh; /* 모바일 화면에서 섹션의 높이를 줄임 */
  }
}


.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight, .highlight .w {
  color: #24292f;
  background-color: #f6f8fa;
}
.highlight .k, .highlight .kd, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kt, .highlight .kv {
  color: #cf222e;
}
.highlight .gr {
  color: #f6f8fa;
}
.highlight .gd {
  color: #82071e;
  background-color: #ffebe9;
}
.highlight .nb {
  color: #953800;
}
.highlight .nc {
  color: #953800;
}
.highlight .no {
  color: #953800;
}
.highlight .nn {
  color: #953800;
}
.highlight .sr {
  color: #116329;
}
.highlight .na {
  color: #116329;
}
.highlight .nt {
  color: #116329;
}
.highlight .gi {
  color: #116329;
  background-color: #dafbe1;
}
.highlight .kc {
  color: #0550ae;
}
.highlight .l, .highlight .ld, .highlight .m, .highlight .mb, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mx {
  color: #0550ae;
}
.highlight .sb {
  color: #0550ae;
}
.highlight .bp {
  color: #0550ae;
}
.highlight .ne {
  color: #0550ae;
}
.highlight .nl {
  color: #0550ae;
}
.highlight .py {
  color: #0550ae;
}
.highlight .nv, .highlight .vc, .highlight .vg, .highlight .vi, .highlight .vm {
  color: #0550ae;
}
.highlight .o, .highlight .ow {
  color: #0550ae;
}
.highlight .gh {
  color: #0550ae;
  font-weight: bold;
}
.highlight .gu {
  color: #0550ae;
  font-weight: bold;
}
.highlight .s, .highlight .sa, .highlight .sc, .highlight .dl, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .sx, .highlight .s1, .highlight .ss {
  color: #0a3069;
}
.highlight .nd {
  color: #8250df;
}
.highlight .nf, .highlight .fm {
  color: #8250df;
}
.highlight .err {
  color: #f6f8fa;
  background-color: #82071e;
}
.highlight .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cp, .highlight .cpf, .highlight .c1, .highlight .cs {
  color: #6e7781;
}
.highlight .gl {
  color: #6e7781;
}
.highlight .gt {
  color: #6e7781;
}
.highlight .ni {
  color: #24292f;
}
.highlight .si {
  color: #24292f;
}
.highlight .ge {
  color: #24292f;
  font-style: italic;
}
.highlight .gs {
  color: #24292f;
  font-weight: bold;
}
