---
layout: default
---
<div class="section" style="background-image: url('{{ site.baseurl }}/assets/images/Class/Puzzle Post 1.png' | relative_url }}');">
</div>
<div class="section" style="background-image: url('{{ site.baseurl }}/assets/images/Class/Puzzle Post 2.png' | relative_url }}');">
</div>
<div class="section" style="background-image: url('{{ site.baseurl }}/assets/images/Class/Puzzle Post 3.png' | relative_url }}');">
</div>
<div class="section" style="background-image: url('{{ site.baseurl }}/assets/images/Class/Puzzle Post 4.png' | relative_url }}');">
</div>

<div class="section" style="background-image: url('{{ site.baseurl }}/assets/images/Class/Tycoon Post 1.png' | relative_url }}');">
</div>
<div class="section" style="background-image: url('{{ site.baseurl }}/assets/images/Class/Tycoon Post 2.png' | relative_url }}');">
</div>
<div class="section" style="background-image: url('{{ site.baseurl }}/assets/images/Class/Tycoon Post 3.png' | relative_url }}');">
</div>
<div class="section" style="background-image: url('{{ site.baseurl }}/assets/images/Class/Tycoon Post 4.png' | relative_url }}');">
</div>
