---
layout: default
---

<div class="section">
  <img src="/assets/images/Class/Puzzle Post 1.png" alt="Puzzle Post 1">
</div>
<div class="section">
  <img src="/assets/images/Class/Puzzle Post 2.png" alt="Puzzle Post 2">
</div>
<div class="section">
  <img src="/assets/images/Class/Puzzle Post 3.png" alt="Puzzle Post 3">
</div>
<div class="section">
  <img src="/assets/images/Class/Puzzle Post 4.png" alt="Puzzle Post 4">
</div>

<div class="section">
  <img src="/assets/images/Class/Tycoon Post 1.png" alt="Tycoon Post 1">
</div>
<div class="section">
  <img src="/assets/images/Class/Tycoon Post 2.png" alt="Tycoon Post 2">
</div>
<div class="section">
  <img src="/assets/images/Class/Tycoon Post 3.png" alt="Tycoon Post 3">
</div>
<div class="section">
  <img src="/assets/images/Class/Tycoon Post 4.png" alt="Tycoon Post 4">
</div>
