<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  {% capture layout %}{% if page.layout %}layout-{{ page.layout }}{% endif %}{%
  endcapture %}
  <body class="{{ layout }}">
    <!-- Menu Navigation
    ================================================== -->
    {% include header.html %}

    <!-- Container
================================================== -->
    <main class="class-container">
      <div class="class-section-wrapper">
        <!-- 첫 번째 섹션: 설명글 -->
        <section class="class-section" id="class-section1">
            <div class="content-1">
                <h2>MEET<h2>
                <h1>MAZE<br>GAME DEV</h1>
                <p>Learn to code with visual scripting:
                  <span lang="ko">코드 대신 블록을 사용해 
                    프로그래밍을 배워보세요.</span>
                Create your own maze with custom editor:
                  <span lang="ko">제작된 에디터를 사용해
                    자신만의 미로를 만들어보세요.</span>
                </p>
                <a href="{{site.baseurl}}/Class-Maze" class="custom-button">
                  Explore More
                </a>
            </div>
        </section>

        <!-- 두 번째 섹션: 버튼 -->
        <section class="class-section" id="class-section2">
            <div class="content-2">
                <h2>MEET</h2>
                <h1>TYCOON<br>GAME<br>DEV</h1>
                <p>Learn how to code FSM:
                  <span lang="ko">FSM을 사용해 AI를 만들어보세요.</span>
                Upgrade your AI with Behavior Trees and GOAP:
                  <span lang="ko">행동트리와 GOAP를 사용해
                    AI를 업그레이드해보세요.</span>
              </p>
              <a href="{{site.baseurl}}/Class-Tycoon" class="custom-button">
                Explore More
              </a>
            </div>
        </section>
      </div>
    </main>

    <!-- Footer
================================================== -->
    {% include footer.html %}

    <!-- JavaScript
================================================== -->
    <script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/theme.js"></script>
    <script src="{{ site.baseurl }}/assets/js/theme-toggle.js"></script>
  </body>
</html>

