<!DOCTYPE html>
<html lang="en">
    <!-- header
    ================================================== -->
    {% include head.html %}

  {% capture layout %}{% if page.layout %}layout-{{ page.layout }}{% endif %}{%
  endcapture %}
  <body class="{{ layout }}">
    <!-- Menu Navigation
    ================================================== -->
    {% include header.html %}
    <!-- Container
================================================== -->
    <main class="container">{{ content }}</main>

    <!-- Footer
================================================== -->
    {% include footer.html %}
    <!-- JavaScript
================================================== -->
    <script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/theme.js"></script>
    <script src="{{ site.baseurl }}/assets/js/theme-toggle.js"></script>
  </body>
</html>
